/* <system section="theme" selected="smooth"> */
@import url("/css/theme/smooth/smooth.css");
/* </system> */

/* スマホでの表示 */
@media (max-width: 767px) {

    .entry-content,
    .contents,
    .switch,
    .table-of-contents li,
    .table-of-contents ul {
        font-size: 16px;
    }
}

/* 目次関連 */
.contents {
    padding: 10px;
    font-weight: bold;

    /* 見出し部分をクリックしても反応しないようにする */
    cursor: default;
}

.switch {
    text-decoration: underline;
    cursor: pointer;

    /* タイトルから少し間隔を空ける */
    margin-left: 10px;
}

.table-of-contents {
    /* 全体にインデントを付ける */
    padding-left: 20px;
}

.table-of-contents li {
    list-style-type: decimal;
    margin-top: 5px;

    /* リスト項目間の余白を追加 */
    margin-bottom: 5px;
}

.table-of-contents ul {
    list-style-type: decimal;
    padding-left: 20px;
    /* 子リストのインデントを明確にする */
}

/* タイトル */
.entry-title {
    padding-left: 20px;
    /* 縦線の余白 */
    border-left: 6px solid #1abc9c;
    /* タイトルの縦線色 */
    font-size: 2em;
    /* タイトルの文字サイズ */
    line-height: 1.4;
    /* 行の高さを調整 */
    padding-top: 3px;
    /* タイトルの上の余白 */
}

/* h3, h4, h5の共通スタイル */
h3,
h4,
h5 {
    padding-left: 15px;
    /* 縦線の余白 */
    border-left: 4px solid;
    /* 縦線の太さ */
    padding-top: 10px;
    /* 上の余白 */
}

/* h3のスタイル */
h3 {
    border-color: #3498db;
    /* 青色の縦線 */
    font-size: 1.6em;
    /* h3の文字サイズ */
}

/* h4のスタイル */
h4 {
    border-color: #2ecc71;
    /* 緑色の縦線 */
    font-size: 1.4em;
    /* h4の文字サイズ */
    padding-top: 5px;
    /* 上の余白 */
}

/* h5のスタイル */
h5 {
    border-color: #f39c12;
    /* オレンジ色の縦線 */
    font-size: 1.2em;
    /* h5の文字サイズ */
}

/* テーブルスタイル */
table {
    width: 100%;
    border-collapse: collapse;
    /* ボーダーを重ねて表示 */
    margin-top: 10px;
    /* 上部に余白を追加 */
}

th,
td {
    background-color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    /* セルのボーダーを追加 */
}

thead {
    background-color: #f8f8f8;
    /* ヘッダーの背景色 */
}

/* ネタバレ防止 */
.spoiler_details {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
    margin-top: 10px;
}

body,
html {
    font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif);
    font-size: var(--markdown-font-size, 14px);
    padding: 0 26px;
    line-height: var(--markdown-line-height, 22px);
    word-wrap: break-word;
    background-color: #fff;
    color: #000
}

#code-csp-warning {
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    margin: 16px;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    background-color: #444;
    cursor: pointer;
    padding: 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .25)
}

#code-csp-warning:hover {
    text-decoration: none;
    background-color: #007acc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25)
}

body.scrollBeyondLastLine {
    margin-bottom: calc(100vh - 22px)
}

body.showEditorSelection .code-line {
    position: relative
}

body.showEditorSelection .code-active-line:before,
body.showEditorSelection .code-line:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -12px;
    height: 100%
}

body.showEditorSelection li.code-active-line:before,
body.showEditorSelection li.code-line:hover:before {
    left: -30px
}

.vscode-dark.showEditorSelection .code-active-line:before {
    border-left: 3px solid rgba(0, 0, 0, .15)
}

.vscode-dark.showEditorSelection .code-line:hover:before {
    border-left: 3px solid rgba(0, 0, 0, .4)
}

.vscode-dark.showEditorSelection .code-line .code-line:hover:before {
    border-left: none
}

.vscode-high-contrast.showEditorSelection .code-active-line:before {
    border-left: 3px solid rgba(255, 160, 0, .7)
}

.vscode-high-contrast.showEditorSelection .code-line:hover:before {
    border-left: 3px solid #ffa000
}

.vscode-high-contrast.showEditorSelection .code-line .code-line:hover:before {
    border-left: none
}

img {
    max-width: 100%;
    max-height: 100%
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:focus,
input:focus,
select:focus,
textarea:focus {
    outline: 1px solid -webkit-focus-ring-color;
    outline-offset: -1px
}

hr {
    border: 0;
    height: 2px;
    border-bottom: 2px solid
}

h1 {
    padding-bottom: .3em;
    line-height: 1.2;
    border-bottom-width: 1px;
    border-bottom-style: solid
}

h1,
h2,
h3 {
    font-weight: 400
}

table {
    border-collapse: collapse
}

table>thead>tr>th {
    text-align: left;
    border-bottom: 1px solid
}

table>tbody>tr>td,
table>tbody>tr>th,
table>thead>tr>td,
table>thead>tr>th {
    padding: 5px 10px
}

table>tbody>tr+tr>td {
    border-top: 1px solid
}

blockquote {
    margin: 0 7px 0 5px;
    padding: 0 16px 0 10px;
    border-left-width: 5px;
    border-left-style: solid
}

code {
    font-family: var(--vscode-editor-font-family, "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace);
    font-size: 1em;
    line-height: 1.357em
}

body.wordWrap pre {
    white-space: pre-wrap
}

pre.hljs code>div,
pre:not(.hljs) {
    padding: 16px;
    border-radius: 3px;
    overflow: auto
}

pre code {
    color: var(--vscode-editor-foreground);
    tab-size: 4
}

.vscode-dark pre {
    background-color: rgba(220, 220, 220, .4)
}

.vscode-high-contrast pre {
    background-color: #000
}

.vscode-high-contrast h1 {
    border-color: #000
}

.vscode-dark table>thead>tr>th {
    border-color: rgba(0, 0, 0, .69)
}

.vscode-dark h1,
.vscode-dark hr,
.vscode-dark table>tbody>tr+tr>td {
    border-color: rgba(0, 0, 0, .18)
}