body,
.markdown-body {
    background-color: white;
    color: black;
}
/* コードブロックの背景色だけ例外設定 */
.markdown-body pre, 
.markdown-body code {
    background-color: transparent; /* コードブロックの背景を透明に */
    color: inherit; /* 親要素の文字色を引き継ぐ */
}

.markdown-body h3 {
    font-size: 22px;
}

img {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

h3,
h5 {
    padding-bottom: 0.4em !important;
    border-bottom: solid 1px gray !important;
}